

  <div class = 'col text-center' style="margin:auto;">
    <% event.users.each do |user| %>
      <div style="padding:5px; display: inline-block;">
        <img class="circles"src="<%= user.avatar %>" alt="Profile" />
      </div>
    <% end %>
  </div>
