<div class="row">
    <div class="col">
        <h3><%= event.name %></h3>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <img class="img-fluid" src="<%= event.event_photo %>" alt="<%= event.name %>"/>
    </div>
    <div class="col-9">
        <p class="card-text"><%= sanitize(event.description) %></p>
    </div>
</div>
