<div class="container mb-3">

    <!-- Create new event -->
    <% if @user != nil %>
      <% if @user.admin %>
        <br>
        <%= link_to 'Create New Event', new_event_path, class: 'btn btn-primary mb-3' %>
      <% end %>
    <% end %><br>




    <!-- Upcoming Events -->
    <div class="row">
        <div class="col">
            <h2 class="mt-3 mb-3">Upcoming Events</h2>
        </div>
    </div>


      <% @upcoming_events.each do |event| %>
          <% registered = @registered_events.include?(event) %>
          <%= render partial: 'event4', locals: { spaces: @spaces_hash[event.id], event: event, user: @user, registered: registered, upcoming: true } %>
      <% end %>
    

    <!-- Previous Events -->
    <div class="row">
        <div class="col">
            <h2 class="mt-3 mb-3">Previous Events</h2>
        </div>
    </div>

    <dic class="row">
      <% @previous_events.each do |event| %>
          <%= render partial: 'event4', locals: { spaces: @spaces_hash[event.id], event: event, user: @user, registered: false, upcoming: false } %>
      <% end %>
    </div>

</div>
