default: &default
  adapter: sqlite3
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development: &development
  <<: *default
  database: BlockParty_dev

test:
  <<: *default
  database: BlockParty_test<%= ENV["TEST_ENV_NUMBER"] %>
