
  <div class="row mt-5">
    <div class="col-4 text-center" style="margin: auto">
      <h2>Welcome to the Blockparty!</h2>
      <p style="color:gray;">Here at Blockparty, it's the people that matter. Share your photos using the #blockparty tag on Instagram, Facebook or Twitter.</p>
    </div>
  </div>


  <div class="container text-center mt-3 mb-5">
    <% @images.each do |image| %>

      <div class="mb-2" style="display:inline-grid; margin: 10px;">
        <a target="_blank" href="<%= asset_path(image.split('/').last)%>">
          <%= image_tag "gallery_images/#{image.split('/').last}", class: "thumb1" %>
        </a>
      </div>

    <% end %>
  </div>
