<!DOCTYPE html>

<div class="container">
  <div class="row" style="padding:100px;">
    <div class="col" style="max-width: 150px; text-align:right;">
      <p><img src="<%= image_url('icons/mail.svg')%>" height="25px;" width='auto;'>  </p>
      <p><img src="<%= image_url('icons/home.svg')%>" height="25px;" width='auto;'>  </p>
      <p><img src="<%= image_url('icons/device-mobile.svg')%>" height="25px;" width='auto;'>  </p>
    </div>

    <div class="col">
      <p> contact@blockpartyaction.com </p>
      <p> MIT Martin Trust Center - Muckley Bldg, 1 Amherst St, Cambridge, MA 02142</p>
      <p> (305)123-5678 </p>
    </div>


  </div>
</div>
