<div class="text-center mt-5 mb-5" style="padding:10px;">
  <div class=" row mb-3 text-center">
      <div class="col" >
        <p><img src="<%= image_url('icons/mail.svg')%>" height="25px;" width='auto;'></p>
        <p> contact@blockpartyaction.com </p>
      </div>
  </div>
  <div class=" row mb-3 text-center">
      <div class="col" >
        <p><img src="<%= image_url('icons/home.svg')%>" height="25px;" width='auto;'></p>
        <p> MIT Martin Trust Center - Muckley Bldg, 1 Amherst St, Cambridge, MA 02142 </p>
      </div>
  </div>
  <div class=" row mb-3 text-center">
      <div class="col" >
        <p><img src="<%= image_url('icons/device-mobile.svg')%>" height="25px;" width='auto;'></p>
        <p> (305)123-5678 </p>
      </div>
  </div>
</div>
