$brand-primary: #27c2aa;
$enable-shadows: true;
$small-font-size: 70%;
// $font-family-sans-serif:  "proxima_nova_ltsemibold", Helvetica, Arial, sans-serif;
//$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;



$custom-file-text: (
    placeholder: (
    en: "Choose file...",
    es: "Seleccionar archivo..."
),
    button-label: (
        en: "Browse",
        es: "Navegar"
    )
);

@import "bootstrap";
@import "chosen";
@import "trix";
@import "**/*";


.container {
  margin: 0px auto;
  width: 80%;
}

.btn-clear {
  background-color: transparent;
  border-radius: .25rem;
  color: black;
  border-color: black;
  border-width: medium;
}

.btn-clear:hover {
  background-color: $brand-primary;
  color: white;
  border-color: $brand-primary;
  border-width: medium;
}

.card {
  height: 450px;
  width: 350px;
  margin: auto;
}

.card2 {
  height: 600px;
  width: 350px;
  margin: auto;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.card3 {
  height: 500px;
  width: 350px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.event-card {
  padding: 0px;
  //border-radius: 20px;
  //border-style: solid;
  //border-color: black;
  //border-width: medium;
  background-color: transparent;
  max-height: auto;
  color: black;
  margin-bottom: 50px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.searchbar {
    background-color: #fff;
    max-width: 100%;
    width: 860px;
    margin: 0 auto;
    border-radius: 50px;
    display: inline-block;
}

.searchbar2 {
    background-color: #DCDCDC;
    max-width: 100%;
    width: 860px;
    margin: 0 auto;
    border-radius: 50px;
    display: inline-block;
}

.location-fill {
  width: 400px;
  background-color: transparent;
  border-right: 1px solid rgba(102, 102, 102, 0.12);
  height: 36px;
  padding-left: 25px;
  display: inline-block;
  line-height: 0;
  margin: 7px 0;
}

.searchbar input {
    background-color: transparent;
    border-radius: 50px 0 0 50px;
}

.location-fill input {
    width: 100%;
    padding: 10px;
    letter-spacing: .3px;
}

.min-date {
    padding-left: 30px;
    padding-right: 15px;
    text-align: right;
    background-color: #DCDCDC;
}

.max-date {
    padding-left: 15px;
    padding-right: 30px;
    border-right: 1px solid rgba(102, 102, 102, 0.12);
    background-color: #DCDCDC;
}

.caret-right {
    color: rgba(0, 0, 0, 0.61);
    fill: currentcolor;
    vertical-align: middle;
    width: 10px;
    height: 10px;
}

.caret-down {
    color: rgba(0, 0, 0, 0.61);
    fill: currentcolor;
    vertical-align: middle;
    width: 10px;
    height: 10px;
}

svg:not(:root) {
    overflow: hidden;
}

.date-picker {
    width: 100px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.61);
    line-height: 34px;
    display: inline-block;
}


.guest-select {
    font-weight: 700;
    width: 120px;
    color: rgba(0, 0, 0, 0.61);
    text-align: center;
    padding-left: 20px;
    display: inline-block;
}

select {
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 0;
    text-indent: 0;
    border-radius: 0;
    cursor: pointer;
    text-transform: none;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
}


.submit-btn {
    float: right;
    color: #fff;
    background-color: $brand-primary;
    border: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-right: -1px;
    outline: none;
    cursor: pointer;
    padding: 0 20px 0 15px;
    box-sizing: border-box;
    transition: all .2s ease;
}

button, input {
    overflow: visible;
}

input {
    border: 0;
    color: rgba(0, 0, 0, 0.61);
    box-sizing: border-box;
    font-weight: 600;
    outline: none;
}

.bg-primary {
    background-color: $brand-primary;
}

.details {
  color: $brand-primary;
}

.event-name {
  color: black;
}
.event-name:hover {
  text-decoration: none;
  color: gray;
}

.btn-circle {
 border-radius: 50%;
 height: 50px;
 width: 50px;
}

/* Style all font awesome icons */
.fa {
    padding: 7px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    content: "\f167";
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.footer-text {
  color: black;
}

.footer-text2 {
  color: black;
}

.footer-text:hover {
  color: $brand-primary;
  text-decoration: none;
}

/* bootstrap overrides */
.navbar-brand {
    padding: 0;
}
.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    line-height: 50px;
}

trix-editor {
    min-height: 320px;
}

h1 {
  font-family: "proxima_nova_altbold", Georgia, sans-serif;
}


h3, h5 {
    color: $brand-primary;
}

h6 {
  font-family: "Proxima Nova", Georgia, sans-serif;
  font-style: italic;
}

// footer styling
.footer {
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 75px;
  background-color: #f7f7f7;
  margin: 0;
}



// support for custom file uploads
.custom-file-name:after {
  content: attr(data-content) !important;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem 1rem;
}

.custom-file-control:before{
  content: "Browse";
}

.custom-file-control:after{
  content: "Add/Update Avatar...";
}



//Proxima Nova Font Family
@font-face {
    font-family: 'proxima_nova_altblack';
    src: url('Mark Simonson - Proxima Nova Alt Black-webfont.eot');
    src: url('Mark Simonson - Proxima Nova Alt Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('Mark Simonson - Proxima Nova Alt Black-webfont.woff2') format('woff2'),
         url('Mark Simonson - Proxima Nova Alt Black-webfont.woff') format('woff'),
         url('Mark Simonson - Proxima Nova Alt Black-webfont.ttf') format('truetype'),
         url('Mark Simonson - Proxima Nova Alt Black-webfont.svg#proxima_nova_altblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('Mark Simonson - Proxima Nova Alt Bold-webfont.eot');
    src: url('Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Mark Simonson - Proxima Nova Alt Bold-webfont.woff2') format('woff2'),
         url('Mark Simonson - Proxima Nova Alt Bold-webfont.woff') format('woff'),
         url('Mark Simonson - Proxima Nova Alt Bold-webfont.ttf') format('truetype'),
         url('Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
    src: url('Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Mark Simonson - Proxima Nova Alt Regular-webfont.woff2') format('woff2'),
         url('Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
         url('Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
         url('Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 4, 2015 */



@font-face {
    font-family: 'proxima_nova_scosfthin';
    src: url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot');
    src: url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff2') format('woff2'),
         url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff') format('woff'),
         url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf') format('truetype'),
         url('Mark Simonson - Proxima Nova ScOsf Thin-webfont.svg#proxima_nova_scosfthin') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('Mark Simonson - Proxima Nova Semibold-webfont.eot');
    src: url('Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Mark Simonson - Proxima Nova Semibold-webfont.woff2') format('woff2'),
         url('Mark Simonson - Proxima Nova Semibold-webfont.woff') format('woff'),
         url('Mark Simonson - Proxima Nova Semibold-webfont.ttf') format('truetype'),
         url('Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

// @font-face {
//     font-family: 'proxima_nova_ltsemibold';
//     src:font-url('Mark%20Simonson%20-%20Proxima%20Nova%20Semibold-webfont.eot');
//     src:font-url('Mark%20Simonson%20-%20Proxima%20Nova%20Semibold-webfont.eot%3F%23iefix') format('embedded-opentype'),
//          font-url('Mark%20Simonson%20-%20Proxima%20Nova%20Semibold-webfont.woff2') format('woff2'),
//          font-url('Mark%20Simonson%20-%20Proxima%20Nova%20Semibold-webfont.woff') format('woff'),
//          font-url('Mark%20Simonson%20-%20Proxima%20Nova%20Semibold-webfont.ttf') format('truetype'),
//          font-url('Mark%20Simonson%20-%20Proxima%20Nova%20Semibold-webfont.svg%23proxima_nova_ltsemibold') format('svg');
//     font-weight: normal;
//     font-style: normal;
//
// }

@font-face {
    font-family: 'proxima_nova_ltthin';
    src: url('Mark Simonson - Proxima Nova Thin-webfont.eot');
    src: url('Mark Simonson - Proxima Nova Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('Mark Simonson - Proxima Nova Thin-webfont.woff2') format('woff2'),
         url('Mark Simonson - Proxima Nova Thin-webfont.woff') format('woff'),
         url('Mark Simonson - Proxima Nova Thin-webfont.ttf') format('truetype'),
         url('Mark Simonson - Proxima Nova Thin-webfont.svg#proxima_nova_ltthin') format('svg');
    font-weight: normal;
    font-style: normal;

}
