#header-image {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0.1)
        ),
        url(image-path("cover.JPG"));
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

h4 {
  font-size: 20px;
  color: black;
}

p {
  color: gray;
}



.card-icon {
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.landing-text {
  margin-left: 50px;
  margin-top: 50px
}

.bullet {
  text-align: center;
  margin: 30px;
  max-width: 40%;
  display: inline-grid;
}

.circle {
  height: 75px;
  width: 75px;
  background-color: $brand-primary;
  border-radius: 50%;
  text-align: center;
}
